.modalButton {
    background: var(--ui);
    border: 1em solid var(--flow);
}

.backdrop {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, .5);
}

.backdrop .modal {
    margin: 16em auto;
    width: 240em;
    color: var(--flow);
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4em;
}

.themeRow {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
}

.themeBtn {
    padding: 2em 4em;
    cursor: pointer;
    border: 1em solid var(--ui-dark);
    background: var(--flow-dark);
    color: var(--ui);
    font-family: var(--font-gbc), sans-serif;
    font-size: 12em;
}

.themeBtn.active {
    border-color: var(--emerald);
    background: var(--emerald-dark);
}

.error {
    color: #ff6b6b;
}

.discordLink {
    display: flex;
    flex-direction: column;
}

.discordButton.discordButton {
    background: var(--discord);
    border: 1em solid var(--discord-darker);
    border-bottom-width: 2em;
    color: #fff;
    padding: 1em;

    cursor: pointer;
}
